{% extends 'store_app/base.html' %}
{% load thumbnail %}  <!-- Add this line -->

{% block content %}
<h1 class="text-center">Welcome to Redpart Shoe Store</h1>
<div class="row">
    {% for shoe in shoes %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a href="{{ shoe.image.url }}">
                <img src="{% thumbnail shoe.image 300x300 crop='center' %}" class="card-img-top" alt="{{ shoe.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ shoe.name }}</h5>
                <p class="card-text">{{ shoe.description }}</p>
                <p class="text-primary">${{ shoe.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}